.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
}

.info {
  display: flex;
  flex-direction: column;
}

.text {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.icon {
  margin-right: 10px;
  font-size: 1.2em;
}

.deleteButton {
  padding: 5px 10px;
  background-color: #ff0000;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.deleteButton:hover {
  background-color: #de0000;
}
